<!DOCTYPE html>
<html>
<head>
  <title>PgAuth</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
        <h1><a href="/">PG_AUTH</a></h1>
      </li>
    </ul>
    <section class="top-bar-section">
      <ul class="left">
        <li class="active"><a href="/users">Admin Super Powers</a></li>
      </ul>
      <ul class="right">
        <% if user_signed_in? %>
        <li class="inactive"><%= link_to 'Log Out', destroy_user_session_path, :method => 'delete', :confirm => 'Are you sure?' %></li>
        <% else %>
        <li class="inactive"><%= link_to 'Log In', new_user_session_path %></li>
        <% end %>
      </ul>
    </section>
  </nav>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<%= yield %>

</body>
</html>
